# Build
target/
*.jar
*.war
eterna-ingest-service/src/main/resources/static/
eterna-ingest-ui/node_modules/
eterna-ingest-ui/dist/

# Environment
.env
.env.local

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.log.txt
logs/
